/* Style for the prompt input */
#prompt-input {
    color: black;
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    min-height: 20px;
    overflow: auto;
}

#prompt-input:focus {
    outline: none !important;
}